[Unit]
Description=Cyber Shift GDPR Bot
After=network.target

[Service]
Type=simple
User=gdprbot
ExecStart=/home/gdprbot/gdpr-bot serve
WorkingDirectory=/home/gdprbot
Environment=GIN_MODE=release
Restart=always

[Install]
WantedBy=multi-user.target